<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<%= form_for(:passwords_reset, url: passwords_resets_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Submit" %>
<% end %>